header
  #orggue
    margin 8px
    color $lightgrey
    div
      a
        color $lightgrey
        &:hover
          color $yellow
  #hashtag
    width 100%
    #title
      margin-top 40px
      color $sky
      font-family 'youtube'
      font-size 105px
      text-align center
      width 100%
      +placeholder()
        color $sky
