header
  #orggue
    margin 8px
    color $lightgrey
    div
      a
        color $lightgrey
        &:hover
          color $yellow
  #hashtag
    width 100%
    #title
      margin-top 40px
      color $sky
      font-family 'youtube'
      font-size 105px
      text-align center
      background $white
      width 100%
      +placeholder()
        color $sky
  #share
    position absolute
    left 50%
    font-size 20px
    cursor pointer
    color $lightgrey
    &:hover
      color $yellow
  #tip-header
    width: 110px;
    height: 80px;
    position: absolute;
    right: 20%;
    top: 1em;
    font-size: 13px;
    #arrow
      height 30px
      width 30px
      transform rotate(-50deg)
      margin-left: -2.5em;
      margin-bottom: -3em;
    div
      text-align center
      font-weight 600
      transform rotate(-30deg)
  .hide-tip
    display none
