#info
  margin-top 3em
  div
    h2
      font-size: 50px;
      line-height: 4rem;
      letter-spacing: -2px;
      font-weight 300
      color rgba($grey,.8)
      margin-bottom 16px
      margin-top 0
      img
        width 50px
        margin-bottom -7px
    .card
      background-color: rgba($darkerwhite,.4);
      border-radius: .25rem;
      padding: 1em 2em;
      margin: 0 auto 2rem;
      position: relative;
      border: 2px solid $darkerwhite;
