@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face
  font-family youtube
  font-style normal
  src url(../fonts/league-gothic-regular.ttf)

@import 'nib/vendor'
vendor-prefixes = o ms moz webkit official

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

//colors
$sky = #6caff1
$red = #ff5967
$orangedarck = #ff794d
$blue = #5082e5
$purple = #be5fb6
$darkpink = #ff5867
$lightblue = #33ccbe
$yellow = #ffaf40
$green = #68bf60
$orange = #ffaf40
$black = #262626
$grey = #464646
$lightgrey = #b2b2b2
$basegrey = #e4e4e4
$darkerwhite = #f6f5f6
$lime = #cccc52
$pink = #f279ac
$purpleblue = #7870cc
$bluegrey = #548899
$basewhite = #fff
