#notifications
    position: absolute;
    width: 96%;
    padding: 0 8px;
    max-width: 600px;
    padding-bottom: 112px;
    z-index: 999;
    margin: auto;
  .notification
    color $basewhite
    text-align center
    border-radius 5px 5px 0 0
    height 65px
    font-size: 20px;
    border: solid 2px;
    border-bottom: none;
    transition all ease-in-out .3s
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: .5em;
